VITE_SUPABASE_URL=https://qcxjlbqcmqakdzfimsxw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjeGpsYnFjbXFha2R6Zmltc3h3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc4NjQ2NTMsImV4cCI6MjA1MzQ0MDY1M30.56_l0OImu5kxPzAti7P3wINqpnCLGD5MmVnyJILyPlU
